<% include header %><%# angular app directive in header %>

<header>
  <div class="float-left">
  <div ><span class="site-title2">Wall of&nbsp;</span><span class="site-title">Links</span></div>
  </div>
  <div><button class="btn btn-default" ng-click="addPanel()">Add Panel</button></div>
</header>
<div id="" class="page">
  <div class="container-fluid" id='body'>
    <div ui-view></div>
  </div>
</div>

<% include footer %>